body {
    background-color: #ffffff;
    color: #460b0b;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #ffffff;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
}

footer {
    background-color: #3d0909;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0%;
}
