  body{
    justify-content: center;
  }
  nav{
    justify-self: center;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 112px;
    text-decoration: none;
  }
  li a:hover {
    background-color: white;
    color: rgb(66, 12, 12);
  }

  li img{
    width: 10%;
    height:10%;
    padding: 0px 112px;
  }

  li h4{
    color: rgb(56, 9, 9);
    display: block;
    align-content: center;
    padding:1px 150px;
  }

  .top2{
    background-color: rgb(70, 1, 1);
  }